@font-face {
  font-family: macondo swash;
  src: url(Macondo_Swash_Caps\,News_Cycle\,Passion_One\,Poppins/);
}
.main-container{
    margin: 0 auto;
    font-family: macondo swash;
}
.hello{
    display: flex;
    gap: 50%;
    margin-left: 15%;
}
#email address{
   border: none; 
   color: lightgrey; 
   margin-top: 2%;
}
#envelop{
    color: blue;
    margin-left: -780px;
    margin-top: 2%;
    font-size: 200%;
}
#phone-volume{
    color: rgb(68, 187, 226);
    font-size: 200%;
    margin-top: 2%;
    margin-right: -48%;
}
.phone line{
margin-left: 10%;
}
#home{
  color: orange;
}
.about{
    display: flex;
    gap: 5%;
    margin-top: 4%;
    margin-left: 20%;
}
#naxa{
    width: 3%;
    margin-top: 6%;
}
#smooth-moving{
  font-size: 1vw;
}
.inner-words{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/istockphoto-1191377762-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
    font-size: 3vw;
}
#button{
    padding: 20px;
    width: 10%;
    color: white;
    background-color: orange;
    font-size: 1vw;
    border: none;
}
.second-section{
    display: flex;
    margin-top: 5%;
    margin-left: 25%;
    gap: -100%;
}
#about-us{
    color: orange;
    text-underline-position: solid 5px below ; 
}
#stockphoto{
    width: 65%;
    height: 70%;
}
#stockphototwo{
    width: 100%;
    height: 80%;
    margin-top: -4%;
}
.image-area-words{
    display: flex;
    gap: 8%;
    margin-top: 6%;
    line-height: 20px;
}#RIAAD{
    color: orange;
}
.logos{
    margin-top: 8%;
    margin-left: 25%;
    gap: 30%;
}
.service{
    text-align: center;
    margin-top: 5%;
}
#our-service{
  color: orange;
  margin-top: 8%;
}
.all-services{
    display: flex;
    text-align: center;
    margin-left: 30%;
    gap: 5%;
}

.packing{
    width: 13%;
    margin-top: 1%;
    line-height: 2pc;
}
#box{
    background-color: orange;
    width:30%;
    border-radius: 80%;
    padding: 8px;
}
.storage{
    background-color: rgb(27, 148, 189);
    width: 13%;
    color: white;
    line-height: 2pc;
    margin-top: 1%;
}
#warehouse{
    background-color: white;
    width:30%;
    border-radius: 80%;
    padding: 8px;
    margin-top: 5%;
    color: blue;
}
.transport{
    width: 10%;
    line-height: 2pc;
    margin-top: 1%;
}
#track{
    background-color: orange;
    width:30%;
    border-radius: 80%;
    padding: 10px;
    line-height: 2pc;
}
.insurance{
    width: 10%;
    line-height: 2pc;
    margin-top: 1%;
}
#shield{
    background-color: orange;
    width:30%;
    border-radius: 80%;
    padding: 8px;
}

hr { 
    margin-top:20%;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 80%;
    height: -8px;
  } 
  .helping-you{
    display: flex;
    gap: 10%;
    margin-top: 5%;
    margin-left: 26%;
  }
  .click-video{
    display: flex;
    gap: 5%;
    width: 30%;
    margin-top: 1%;
  }
  .why-riaad{
    text-align: center;
    display: flex;
    gap: 5%;
    margin-top: 7%;
    margin-left: 30%;
  }
  .moving-business{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("images/photo-1624137308703-e1da1ca881df.avif");
    height: 50vh;
    width: 30%;
    text-align: center;
    color: white;
    font-size: 1vw;
    box-shadow: 10px 10px;
    line-height: 1.8;
  }
  .reflection{
    color: blue;
    margin-left: 10%;
    
  }
  .why-choose-riaad{
    text-align: left;
    
  }
  #riaad{
    color: orange;
  }
  .the-achievements{
    gap: 13%;
    margin-top: 8%;
    
  }
  .achievement{
    display: flex;
    gap: 2%;

  }
  #tick{
    background-color: orange;
    padding: 3px;
    border-radius: 50%;
    width: 4%;
    height: 4%;
    margin-top: 2%;
  }
  .for-help{
    margin-left: 40%;
    display: flex;
  }
  #booking{
    color: orange;
  }
  #video{
    width: 100%; 
    position: center;
    size: cover;
    margin-top: 5%;
  }
  .book{
    background-color: orange;
    color: white;
    width: 15%;
    padding-left: 20%;
    font-size: 1.3vw;
    padding-top: 10%;
    
  }
  .book-us{
    display: flex;
    gap: -1%;
  }
  .request-forms{
    display: flex;
    gap: 5%;
    border: none;
    background-color: blue;
    color: white;
    padding: 5pc;
    width: 70%;
  }
  #buttontwo{
    background-color: orange;
    padding: 10%;
    border: none;
    color: white;
  }
  .testimonial{
    text-align: center;
    margin-top: 6%;
  }
  .what-people-say{
    text-align: center;
    display: flex;
    gap: 8%;
    line-height: 1.6pc;
    margin-left: 23%;
    margin-top: 4%;
  }
  #testimonial{
    color: orange;
  }
  #what-they-say{
    font-size: 3vw;
  }
  #rose{
    color: orange;
    font-size: 1vw;
  }
  #comma{
    width: 15%;
  }
  #customer{
    width: 30%;
    margin-top: 8%;
    border-radius: 50%;
  }
  .new-settlers-signup{
    margin-top: 8%;
    text-align: center;
  }
  #signup{
    color: orange;
  }
  .subscribe{
    display: flex;
    gap: 20%;
    margin-left: 35%;
    margin-top: 2%;
  }
  #button-three{
    background-color: orange;
    color: white;
    border: none;
    font-size: 0.8vw;
    padding: 3px;
    width: 16%;
  }
  .our-blog{
    margin-top: 6%;
  }
  #blog{
    color: orange;
    text-align: center;
  }
  #news{
    text-align: center;
    font-size: 2vw;
  }
  .news-and-article{
    display: flex;
    gap: 1%;
    color: white;
    margin-left: 25%;
    padding-left: 3%;
  }
  .our-home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/istockphoto-1402501680-612x612.jpg);
    height: 23vh;
    width: 17%;
    text-align: left;
    color: white;
    font-size: 1vw;
    box-shadow: 10px 10px;
    line-height: 1.8;
    padding-left: 3%;
    padding-top: 5%;

  
  } 
  .making-choice{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/istockphoto-626177900-612x612.jpg);
    height: 23vh;
    width: 17%;
    text-align: left;
    color: white;
    font-size: 1vw;
    box-shadow: 10px 10px;
    line-height: 1.8;
    padding-left: 3%;
    padding-top: 5%;
  }
  .baby-boomer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/istockphoto-1733707831-612x612.jpg);
    height: 23vh;
    width: 17%;
    text-align:left;
    color: white;
    font-size: 1vw;
    box-shadow: 10px 10px;
    line-height: 1.8;
    padding-left: 3%;
    padding-top: 5%;
  }
  .discovering-more{
    background-color: orange;
    display: flex;
    margin-top: 5%;
    color: white;
    gap: 20%;
    text-align: right;
    padding-left: 450px;
    padding-top: 2%;
    padding-bottom: 3%;
  
    
  }
  #button-four{
    background-color: black;
    color: white;
    width: 15%;
    height: 3pc;
    font-size: 0.8vw;
    margin-left: 10%;
    padding-top: 3px;
  }
  .footer{
    display: flex;
    gap: 10%;
    padding-left: 25%;
    background-color: rgb(1, 1, 34);
    color: white;
    padding-bottom: 10%;
  }
  .footer-four{
    font-size: 2vw;
    position: static;
  
    

  }

  
  
  

